      body { 
        font: 13px Helvetica, Arial; 
        background-color: #0c439b;
      }

      form { 
        padding: 3px; 
        position: fixed; 
        bottom: 0; 
        width: 100%; 
      }

      #chat-box {
        background-color: #092c63;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      #name {
        background-color: orange;
        opacity: 0.6;
      }

      #current-user{
                
      }

      #messages { 
        list-style-type: none; 
        padding: 0;

      }

      #messages li {
        display: block; 
        padding: 10px; 
        width: 35%;
        margin-left: auto;
        margin-right: auto; 
        background-color: #a5ffab;
      }

      #messages li:nth-child(even) { 
        background: #8eeaff; 
      }