body { 
	font: 13px Helvetica, Arial; 
	background-color: #0c439b;
}

h3 {
	font-weight: 650;
	padding: 5px;
}

#search-box {
	background-color: green;
	width: 300px;
}

#search-form {
	padding: 5px 5px 10px 10px;
}

#search-form h3 {
	margin: 2px;
}

#search-form > p {
	margin: 0;
}

#friends {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

.friend {
	background-color: powderblue;
	width: 50%;
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	font-weight: bold;
}

#user_data {
	background-color: #ea6c23;
	width: 250px;
}

.req_div {
	background-color: #ffce54;
	padding: 2px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 20px;
}

.reqSender {
	font-weight: 700;
	margin: 0px 0px 10px 0px;
}

.reqText {
	text-align: center;
	margin: 0px 0px 4px 0px;
}

.req_div > button {
	opacity: 0.8;
	width: 60px;
	font-weight: 600;
	padding: 4px;
	text-align: center;
}
.addFriend {
	background-color: #ff9277;
	border: 2px solid #ff6742;
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 5px;
}

.ignoreBtn {
	background-color: #E3E3E3;
	border: 2px solid #949494;	
	float: right;
	margin-top: 5px;
	margin-right: 30px;
	margin-bottom: 5px;
}