body { 
	font: 13px Helvetica, Arial; 
	background-color: #0c439b;
}

h3 {
	font-weight: 650;
	padding: 5px;
}

#search-box {
	background-color: green;
	width: 300px;
}

#search-form {
	padding: 5px 5px 10px 10px;
}

#search-form h3 {
	margin: 2px;
}

#search-form > p {
	margin: 0;
}

#friends {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
}

.friend {
	background-color: powderblue;
	width: 50%;
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	font-weight: bold;
}

.addFriend {
	margin-left: 15px;
}

#user_data {
	background-color: #ea6c23;
	width: 250px;
}

.req_div {
	background-color: #ffce54;
	padding: 2px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 20px;
}

.req_div > p {
	font-weight: 600;
	margin: 5px;
	width: 50%;
	display: inline-block;
}

.req_div > button {
	background-color: #ff9277;
	border: 2px solid #ff6742;
	opacity: 0.7;
	padding: 5px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}